@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins&display=swap');
body{
  margin: 0px;
}
div{
margin: 0px ;
padding: 0px;
}

.nav-bar {
  display: flex;
  flex: 1 ;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding-top: 20px;
  padding-left:80px;
  padding-right: 80px;
  padding-bottom: 20px;
  margin: 0px;
}
.buttons{
  font-size: 50 px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
}


.desc1{
  font-size: 20px;
  margin: 20px;
  line-height: 25px;
  margin-bottom: 40px;
}
.ele{
  min-height: 93vh;
    display: flex;
    flex-flow: column;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
}
h3{
  font-size: 40px;
  align-self: center;
  padding-left: 600px;
  padding-top: 30px;
}
.tittle{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.desc{
  margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Strait', sans-serif;
    color:rgb(25, 28, 26);
    line-height: 30px;
}
.img{
    width: 90%; 
    height: 70vh; 
    border:none;
    background-color:rgb(30, 99, 64);
    align-items: center;
  
}
.img-container{
  display: inline-block;
  padding-left: 200px;
  padding-bottom: 30px;
  padding-top: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}