body{
    background-color: rgb(224, 221, 221);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.box{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
     
    margin:30px;

}
h1{
  margin-left: 10px;
}

.nav-bar {
  display: flex;
  flex: 1 ;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding-top: 20px;
  padding-left:80px;
  padding-right: 80px;
  padding-bottom: 20px;
  margin: 0px;
}
.buttons{
  font-size: 50 px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
}


.img-container{
    flex: 20%;
    height: 30vh;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.text-container{
    flex:60%;
    height: 30vh;
    padding-left: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;

}
.price{
    flex:20%;
    height: 30vh;
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 40px;

}
.img{
    height: 100%;
    width: 100%;
}
.hotel{
    font-size: 25px;
    margin-bottom: 0px;
    font-weight:600;
}
.desc{
    padding-top: 40px;
    color: rgb(129, 97, 57);
}
.text1{
    font-size: 40px;
    margin-bottom: 0px;
    padding-top: 30px;

}
.text2{
    margin-top: 0px;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

form input{
  border:none;
  outline:none;
  box-shadow: none;
  width:90%;
  font-size:22px;
  padding: 8px 10px;
  


}
form{

  border:1px solid black;
  border: radius 4px;
  width: 40%;
  margin-left:30px;

}
form i{
  padding-left: 10px;
}